html, body {
  background-color: white;
  height: 100%;
  text-align: center;
}

#plot {
  background-color: grey;
  height: 60%;
  width: 80%;
  margin: auto;
}


#tooltip {
	position: absolute;
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #404040;
	color: white;
	border-radius: 5px;
	pointer-events: none;
}
#tooltip.hidden {
	display: none;
}
#tooltip p {
	margin: 0;
	font-family: sans-serif; font-size: 10px;
}
