html, body {
  background-color: white;
  height: 100%;
  text-align: center;
}

.plot {
  width: 40%;
}

#piePlot {
  background-color: grey;
  margin: auto;
}

#stackPlot {
  background-color: blue;
  margin: auto;
}

#forcePlot {
  background-color: steelblue;
  margin: auto;
}
#pieTooltip, #stackTooltip, #forceTooltip {
	position: absolute;
	width: auto;
	height: auto;
	/* padding: 10px; */
	background-color: #404040;
	color: white;
	border-radius: 5px;
	pointer-events: none;
	/* font-family: sans-serif;   */
}

#pieTooltip.hidden, #stackTooltip.hidden, #forceTooltip.hidden {
	display: none;
}

.allTooltips p {
	/* margin: 0; */
	font-family: sans-serif;
  /* font-size: 10px; */
}

.labelText {
  fill: white;
}

.legendText {
  fill: white;
}
